{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delete Application</title>

    <link rel="stylesheet"
          href="{% static 'applications/style.css' %}">
</head>

<body>

<div class="container">

    <div class="delete-box">

        <h1>🗑️ Delete Application</h1>

        <p>
            Are you sure you want to delete:
        </p>

        <h2>
            {{ application.company_name }}
            -
            {{ application.job_role }}
        </h2>

        <p class="warning">
            This action cannot be undone.
        </p>

        <form method="POST">

            {% csrf_token %}

            <button type="submit" class="delete-btn">
                Yes, Delete
            </button>

            <a href="/" class="cancel-btn">
                Cancel
            </a>

        </form>

    </div>

</div>

</body>
</html>